<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Collect | Manage Organization</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/dashboard.css">
  <script src="/javascripts/dashboard.js"></script>
</head>

<body>
  <% include navbar.ejs %>

  <div class="container mt-5 pt-5 text-center">
    <form action="/api/dashboard/overview" method="post">
      <div class="row">
        <div class="col-sm">
          Pick Start Date<input type="date" name="startDate" class="btn-block">
        </div>
        <div class="col-sm">
          Pick End Date<input type="date" name="endDate" class="btn-block">
        </div>
        <div class="col-sm">
          <input type="submit" value="Go" class="btn btn-primary btn-block btn-lg">
        </div>
      </div>
    </form>
  </div>

  <table class="table table-hover mt-5">
    <% if(isDataAvailable) {%>
    <tbody>
        <% for(var i=0;i<docs.length;i++){ %>
      <tr>
          <% for(var key in docs[i]) {%>
           <td> <%= docs[i][key] %> </td>
           <% } %>
      </tr>
      <% } %>
    </tbody>
    <% } %>
  </table>
</body>
</html>