<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/api/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="myfile" />
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
